<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsCheck" version="2.1.0" targetFramework="net45" />
  <package id="FSharp.Core" version="3.1.2.5" targetFramework="net45" />
  <package id="FSharpx.Core" version="1.8.41" targetFramework="net40" />
  <package id="Gallio_MbUnit" version="3.4.14.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="PerfUtil" version="0.1.8" targetFramework="net40" />
</packages>