AssemblyVersionInfo.fs
AssemblyVersionInfo.cs
paket.exe
*.suo
*.swp
*.user
*.userprefs
*.pidb
*/bin
*/obj
_ReSharper.*
packages/*
**/packages/*
*.nupkg
.nuget/*.exe
*.sln.ide
project.lock.json
paket-files/
any/
BenchmarkDotNet.Artifacts/
any/
/.fake/
/.vs/
build/
*.orig
