AssemblyVersionInfo.fs
paket.exe
*.suo
*.swp
*.user
*.userprefs
*.pidb
*/bin
*/obj
_ReSharper.*
packages/*
**/packages/*
*.nupkg
.nuget/*.exe
*.sln.ide
project.lock.json
paket-files/
BenchmarkDotNet.Artifacts/
/.fake/
/.vs/