source https://nuget.org/api/v2
framework: net45

github logary/logary src/Logary.Facade/Facade.fs 0fbb7829b9d4b62f9ffd10d7a4b20d075c6cccc6

nuget Argu = 3.2
nuget FsCheck = 2.7.1
nuget FSharp.Core ~> 3
nuget BenchmarkDotNet = 0.9.9
nuget BenchmarkDotNet.Toolchains.Roslyn = 0.9.9
nuget BenchmarkDotNet.Core = 0.9.9
nuget Mono.Cecil = 0.10.0-beta2 framework: net40
nuget NuGet.CommandLine

group build
    source https://www.nuget.org/api/v2
    nuget FAKE
