source https://api.nuget.org/v3/index.json
framework net461, netstandard2.0, netcoreapp2.0
storage:none

nuget FSharp.Core 4.3.4
nuget Argu 5.1
nuget FsCheck 2.10.4
nuget Hopac 0.3.23
nuget Mono.Cecil 0.10.0
