source https://api.nuget.org/v3/index.json
framework netstandard2.1, net6.0
storage none
version 7.1.5

nuget FSharp.Core >= 6
nuget FsCheck ~> 2.14
nuget Hopac ~> 0.4
nuget DiffPlex ~> 1.5
nuget Mono.Cecil ~> 0.11
nuget BenchmarkDotNet ~> 0.13.5

group FsCheck3
  source https://api.nuget.org/v3/index.json

  nuget FsCheck ~> 3

group Build
  source https://api.nuget.org/v3/index.json
  storage none
  framework netstandard2.1, net6.0

  nuget Fake.Api.GitHub
  nuget Fake.BuildServer.AppVeyor
  nuget Fake.BuildServer.Travis
  nuget Fake.Core.ReleaseNotes
  nuget Fake.Core.Target prerelease
  nuget Fake.Core.Xml prerelease
  nuget Fake.DotNet.Cli prerelease
  nuget Fake.DotNet.Paket prerelease
  nuget Fake.IO.FileSystem prerelease
  nuget Fake.IO.Zip
  nuget Fake.Tools.Git
  nuget Fake.Tools.Octo
  nuget Microsoft.Build 17.3.2
  nuget Microsoft.Build.Framework 17.3.2
  nuget Microsoft.Build.Tasks.Core 17.3.2
  nuget Microsoft.Build.Utilities.Core 17.3.2
  nuget Nuget.Protocol
  nuget nosln
